;; shadow-cljs configuration
{:deps true

 :dev-http     {8080 "public"}

 :builds       {:punjabi-converter  {:target  :browser
                                     :modules {:punjabi-converter {:entries [sikhsiyasat.punjabi-font-converter.core]}

                                               :punjabi-converter-app      {:init-fn    sikhsiyasat.punjabi-font-converter.app/init
                                                                            :depends-on #{:punjabi-converter}}}}
                :test {:target    :browser-test
                       :test-dir  "resources/public/js/test"
                       :devtools  {:http-port 8021
                                   :http-root "resources/public/js/test"}}}}



