{
 [:adak-bindi]           "ਁ",
 [:adak-above]           "`",
 [:adak-right]           "~",
 [:adak-right-2]         "¤",
 [:aunkar]               { 1 "u", 2 "ü"}
 [:aida]                 "A",
 [:bihari]               "I",
 [:bindi]                "N",
 [:bindi-2]              "ˆ",
 [:baba]                 "b",
 [:bhaba]                "B",
 [:colon]                  ":",
 [:colon-fancy]          "Ú",
 [:chacha]               "c",
 [:shasha]               "C",
 [:danda]                "[",
 [:dash]                 "-",
 [:diamond]              "•",
 [:divide]               "‹",
 [:dot]                  ".",
 [:double-danda]         "]",
 [:double-danda-b]           "Ò",
 [:double-quote-curly-left]  "“",
 [:double-quote-curly-right] "”",
 [:dulaikar]            "U",
 [:dulaikar-b]             "¨",
 [:dulavan]              "Y",
 [:ddadda]                   "f",
 [:tada]                   "F",
 [:dada]                   "d",
 [:dhada]                    "D",
 [:0]                    "0",
 [:1]                    "1",
 [:2]                    "2",
 [:3]                    "3",
 [:4]                    "4",
 [:5]                    "5",
 [:6]                    "6",
 [:7]                    "7",
 [:8]                    "8",
 [:9]                    "9",
 [:idi]                    "e",
 [:fafa :pairi-bindi]          "&",
 [:flower-a]          "Œ",
 [:flower-b]          "‚",
 [:flower-c]          "‰",
 [:flower-d]          "Ó",
 [:flower-e]          "Ô",
 [:fafa]                    "P",
 [:sifar]                    "ú",
 [:ik]                    "ñ",
 [:do]                    "ò",
 [:ten]                    "ó",
 [:char]                    "ô",
 [:panj]                    "õ",
 [:she]                    "ö",
 [:sat]                    "÷",
 [:ath]                    "ø",
 [:nau]                    "ù",
 [:gaga :pairi-bindi]          "Z",
 [:gaga]                    "g",
 [:ghagha]                    "G",
 [:half-yaiya-right]         "Î",
 [:hora]                  "o",
 [:haha]                    "h",
 "IkOnkarVersion1a"      "<",
 "IkOnkarVersion1b"      ">",
 "IkOnkarVersion2a"      "Å",
 "IkOnkarVersion2b"      "Æ",
 "IkOnkarVersion3"       "¡",
 [:jaja :pairi-bindi]          "z",
 [:jaja]                    "j",
 [:jhajha]                    "J",
 [:khakha :pairi-bindi]          "^",
 [:k-thind]                "ÿ",
 [:kana]                  "w",
 [:kana :bindi]             "W",
 [:kanaura]               "O",
 [:khanda]                "Ç",
 [:kaka]                    "k",
 [:khakha]                    "K",
 [:lala :pairi-bindi]          "L",
 [:lava]                 "y",
 [:lala]                    "l",
 [:multiply]              "¿",
 [:mama]                    "m",
 "Nu"                    "ƒ",
 [:chija]                    "|",
 [:naiya]                    "\\",
 [:naanaa]                    "x",
 [:nana]                    "n",
 [:uda-o]                    "E",
 [:pairi-bindi]            "æ",
 "PairiChacha"           "ç",
 "PairiHaha"             "H",
 "PairiHahaDulainkar"    "§",
 "PairiNana"             "˜",
 "PairiRara"             "R",
 "PairiRaraPairiBindi"   "®",
 "PairiTata"             "œ",
 "PairiTenka"            "†",
 "PairiVava"             "Í",
 "PairiYaiya"            "Ï",
 [:papa]                    "p",
 [:rara]                    "r",
 [:rrarra]                    "V",
 [:sasa :pairi-bindi]          "S",
 [:semi-colon]             ";",
 [:sihari]                "i",
 [:single-quote-curly-left]  "‘",
 [:single-quote-curly-right] "’",
 [:sasa]                    "s",
 [:tippi]                 "M",
 "TopRightExtention"     "Ø",
 [:tenka]                    "t",
 [:tthattha]                    "T",
 [:tata]                    "q",
 [:thatha]                    "Q",
 "Unknown1"              "´",
 [:uda]                    "a",
 [:virama]                "@",
 [:vava]                    "v",
 [:yaiya]                    "X"}
