{
 [:adak-above]            "Z",
 [:adak-right]            "~",
 [:adak-right-2]          "¤",
 [:aunkar]                "[",
 [:aida]                  "n",
 [:bihari]                "h",
 [:bindi]                 "A",
 [:bindi-2]               "ˆ",
 [:baba]                  "p",
 [:bhaba]                 "G",
 [:colon]                   "L",
 [:colon-fancy]           "Ú",
 [:chacha]                "u",
 [:shasha]                "S",
 [:dot]                   "H",
 [:double-danda]          "]",
 [:double-danda-b]            "Ò",
 [:double-quote-curly-left]   "“",
[:double-quote-curly-right]  "”",
 "DoubleQuoteCurlyRight2" "@",
 [:dulaikar]             "{",
 [:dulaikar-b]              "¨",
 [:dulavan]               "?",
 [:ddadda]                    "v",
 [:tada]                    "Y",
 [:dada]                    "d",
 [:dhada]                     "X",
 [:0]                     "0",
 [:1]                     "1",
 [:2]                     "2",
 [:3]                     "3",
 [:4]                     "4",
 [:5]                     "5",
 [:6]                     "6",
 [:7]                     "7",
 [:8]                     "8",
 [:9]                     "9",
 [:idi]                     "J",
 [:fafa :pairi-bindi]           "|",
 [:flower-a]           "Œ",
 [:flower-b]           "‚",
 [:flower-c]           "‰",
 [:flower-d]           "Ó",
 [:flower-e]           "Ô",
 [:fafa]                     "c",
 [:sifar]                     "ú",
 [:ik]                     "ñ",
 [:do]                     "ò",
 [:ten]                     "ó",
 [:char]                     "ô",
 [:panj]                     "õ",
 [:she]                     "ö",
 [:sat]                     "÷",
 [:ath]                     "ø",
 [:nau]                     "ù",
 [:gaga :pairi-bindi]           "}",
 [:gaga]                     "r",
 [:ghagha]                     "x",
 [:half-yaiya-right]          "Î",
 [:hora]                   "'",
 [:haha]                     "j",
 [:ik :onkar]        "Å",
 "IkOnkarVersion1a"       "‹",
 "IkOnkarVersion2"        "Æ",
 "IkOnkarVersion3"        "¡",
 "IkOnkarVersion4"        "å",
 "IkOnkarVersion5"        ">",
 [:jaja :pairi-bindi]           "I",
 [:jaja]                     "i",
 [:jhajha]                     "M",
 [:khakha :pairi-bindi]           "\\",
 [:k-thind]                 "ÿ",
 [:kana]                   "k",
 [:kana :bindi]              "K",
 [:kanaura]                "\"",
 [:khanda]                 "Ç",
 [:kaka]                     "e",
 [:khakha]                     "y",
 [:lala :pairi-bindi]           "+",
 [:lava]                  "/",
 [:lala]                     "b",
 [:multiply]               "%",
 [:mama]                     "w",
 "Nu"                     "ƒ",
 [:chija]                     "C",
 [:naiya]                     "R",
 [:naanaa]                     "D",
 [:nana]                     "B",
 [:uda-o]                     "U",
 [:pairi-bindi]             "a",
 "PairiChacha"            "ç",
 "PairiHaha"              "Q",
 "PairiHahaDulainkar"     "§",
 "PairiNana"              "˜",
 "PairiRara"              "q",
 "PairiRaraLeft"          "®",
 "PairiTata"              "œ",
 "PairiTenka"             "†",
 "PairiVava"              "_",
 "PairiYaiya"             "Ï",
 [:papa]                     "g",
 "RaraAunkar"             "W",
 [:rara]                     "o",
 [:rrarra]                     "V",
 [:sasa :pairi-bindi]           "P",
 [:semi-colon]              "l",
 [:sihari]                 "f",
 [:single-quote-curly-left]   "‘",
 [:single-quote-curly-right]  "’",
 [:sasa]                     ";",
 [:tippi]                  "z",
 "TopRightExtention"      "F",
 [:tenka]                     "N",
 [:tthattha]                     "m",
 [:tata]                     "s",
 [:thatha]                     "E",
 [:uda]                     "T",
 [:vava]                     "t",
 [:yaiya]                     ":"}
