{
 [:adak-bindi]            "ਁ",
 [:adak-above]            "&",
 [:adak-right]            "%",
 [:aunkar]                "U",
 [:aunkar-2]              "ü",
 [:aida]                  "a",
 [:bihari]                "I",
 "BihariBindi"            "ƒ",
 [:bindi]                 ":",
 [:bindi-2]               "ˆ",
 [:baba]                  "b",
 [:bhaba]                 "B",
 [:colon]                   "\\",
 [:chacha]                "C",
 [:shasha]                "x",
 [:danda]                 ".",
 "DandaLong"              "¢",
 [:dash]                  "-",
 [:diamond]               "•",
 [:dot]                   "P",
 [:double-danda]          "|",
 [:double-quote-curly-left]   "™",
[:double-quote-curly-right]  "#",
 [:dulaikar]             "<",
 [:dulavan]               ">",
 [:ddadda]                    "D",
 [:tada]                    "Q",
 [:dada]                    "d",
 [:dhada]                     "Y",
 [:0]                     "0",
 [:1]                     "1",
 [:2]                     "2",
 [:3]                     "3",
 [:4]                     "4",
 [:5]                     "5",
 [:6]                     "6",
 [:7]                     "7",
 [:8]                     "8",
 [:9]                     "9",
 [:idi :lava]                     "´",
 [:idi]                     "e",
 [:fafa :pairi-bindi]           "F",
 [:flower-a]           "Œ",
 [:flower-c]           "‰",
 [:flower-d]           "Ó",
 [:flower-e]           "Ô",
 [:fafa]                     "f",
 [:sifar]                     "‚",
 [:ik]                     "⁄",
 [:do]                     "¤",
 [:ten]                     "‹",
 [:char]                     "›",
 [:panj]                     "",
 [:she]                     "",
 [:sat]                     "‡",
 [:ath]                     "°",
 [:gaga :pairi-bindi]           "Z",
 [:gaga]                     "g",
 [:ghagha]                     "G",
 "HalfYaiyaLeft"          "w",
 [:hora]                   "~",
 [:haha]                     "h",
 "IkOnkarVersion3"        "÷",
 [:jaja :pairi-bindi]           "z",
 [:jaja]                     "j",
 [:jhajha]                     "J",
 [:khakha :pairi-bindi]           "K",
 [:k-thind]                 "ÿ",
 [:kana]                   "A",
 [:kana :bindi]              ";",
 [:kanaura]                "O",
 "Kanaura2"               "ø",
 [:khanda]                 "˚",
 "Khanda2"                "∂",
 [:kaka]                     "c",
 [:khakha]                     "k",
 [:lava]                  "E",
 [:lala]                     "l",
 [:multiply]               "¿",
 [:mama]                     "m",
 "NanaDulainkar"          "¶",
 "Nu"                     "˜",
 [:chija]                     "L",
 [:naiya]                     "M",
 [:naanaa]                     "N",
 [:nana]                     "n",
 "Onkar1"                 "Ø",
 "Onkar2"                 "£",
 [:uda-o]                     "o",
 [:pairi-bindi]             "æ",
 "PairiChacha"            "ç",
 "PairiHaha"              "H",
 "PairiNana"              "˜",
 "PairiRara"              "q",
 "PairiTata"              "œ",
 "PairiTenka"             "†",
 "PairiVava"              "X",
 "PairiYaiya"             "Ï",
 [:papa]                     "p",
 [:rara]                     "r",
 [:rrarra]                     "R",
 [:sasa :pairi-bindi]           "S",
 [:semi-colon]              "ß",
 "SemiColon2"             "«",
 "SemiColon3"             "…",
 [:sihari]                 "i",
 [:single-quote-curly-left]   "`",
 "SingleQuoteCurlyLeft2"  "§",
 [:single-quote-curly-right]  "$",
 "SingleQuoteCurlyRight2" "¡",
 "SquareBracketLeft"      "[",
 "SquareBracketLeft2"     "{",
 "SquareBracketRight"     "]",
 "SquareBracketRight2"    "}",
 [:sasa]                     "s",
 [:tippi]                  "*",
 "TippiRight"             "^",
 "TopRightExtention"      "Ø",
 [:tenka]                     "t",
 [:tthattha]                     "T",
 [:tata]                     "V",
 [:thatha]                     "W",
 "Unknown1"               "´",
 [:uda]                     "u",
 [:virama]                 "@",
 [:vava]                     "v",
 [:yaiya]                     "y"}
