{
 [:adak-bindi]           "ਁ",
 [:adak-right]           "w",
 [:adak-right-2]         "W",
 [:aunkar]               "u",
 [:aida]                 "a",
 [:bihari]               "I",
 [:bindi]                "N",
 [:baba]                 "b",
 [:bhaba]                "B",
 [:colon]                  ":",
 [:colon-fancy]          "Ú",
 [:chacha]               "c",
 [:shasha]               "C",
 [:danda]                ".",
 [:danda-b]              "|",
 "Danda3"                "»",
 [:dash]                 "-",
 [:dot]                  "[",
 [:double-danda]         "]",
 [:double-danda-b]           "«",
 [:double-quote-curly-left]  "“",
[:double-quote-curly-right] "”",
 [:dulaikar]            "U",
 [:dulavan]              "Y",
 [:ddadda]                   "z",
 [:tada]                   "Z",
 [:dada]                   "d",
 [:dhada]                    "D",
 [:0]                    "0",
 [:1]                    "1",
 [:2]                    "2",
 [:3]                    "3",
 [:4]                    "4",
 [:5]                    "5",
 [:6]                    "6",
 [:7]                    "7",
 [:8]                    "8",
 [:9]                    "9",
 [:idi]                    "e",
 [:fafa :pairi-bindi]          "Ì",
 [:fafa]                    "P",
 [:sifar]                    "ú",
 [:ik]                    "ñ",
 [:do]                    "ò",
 [:ten]                    "ó",
 [:char]                    "ô",
 [:panj]                    "õ",
 [:she]                    "ö",
 [:sat]                    "÷",
 [:ath]                    "ø",
 [:nau]                    "ù",
 [:gaga :pairi-bindi]          "Ê",
 [:gaga]                    "g",
 [:ghagha]                    "G",
 [:hora]                  "o",
 [:haha]                    "h",
 "IkOnkarVersion1a"      "Ã",
 "IkOnkarVersion1b"      "Ä",
 [:jaja :pairi-bindi]          "Ë",
 [:jaja]                    "j",
 [:jhajha]                    "J",
 [:khakha :pairi-bindi]          "É",
 [:kana]                  "f",
 [:kana :bindi]             "F",
 [:kanaura]               "O",
 [:kaka]                    "k",
 [:khakha]                    "K",
 [:lala :pairi-bindi]          "Ü",
 [:lava]                 "y",
 [:lala]                    "l",
 [:mama]                    "m",
 [:chija]                    "Õ",
 [:naiya]                    "Ö",
 [:naanaa]                    "x",
 [:nana]                    "n",
 [:pairi-bindi]            "æ",
 "PairiBindi2"           "L",
 "PairiHaha"             "H",
 "PairiRara"             "R",
 [:papa]                    "p",
 [:rara]                    "r",
 [:rrarra]                    "V",
 [:sasa :pairi-bindi]          "È",
 [:semi-colon]             ";",
 [:sihari]                "i",
 [:single-quote-curly-left]  "‘",
 [:single-quote-curly-right] "’",
 [:sasa]                    "s",
 [:tippi]                 "M",
 "Tippi2"                "S",
 [:tenka]                    "t",
 [:tthattha]                    "T",
 [:tata]                    "q",
 [:thatha]                    "Q",
 [:uda]                    "A",
 [:virama]                "Ù",
 [:vava]                    "v",
 [:yaiya]                    "X"}
