{
 [:adak-above]           "Z",
 "AddakLeft"             "æ",
 [:adak-right]           "µ",
 [:aunkar]               "[",
 [:aunkar-2]             "∞",
 "Aunkar3"               "π",
 [:aida]                 "n",
 [:bihari]               "h",
 "Bihari2"               "∆",
 "BihariBindi"           "]",
 "BihariBindi2"          "ƒ",
 [:bindi]                "∫",
 [:bindi-2]              "A",
 [:baba]                 "p",
 [:bhaba]                "G",
 [:colon]                  "L",
 [:chacha]               "u",
 "CਚAunkar"              "¸",
 [:shasha]               "S",
 [:danda]                "Õ",
 [:danda-b]              ".",
 [:dash]                 "-",
 "Dash2"                 "F",
 [:dot]                  "H",
 [:double-quote-curly-left]  "š",
[:double-quote-curly-right] "@",
 [:dulaikar]            "{",
 [:dulaikar-b]             "±",
 "Dulainkar3"            "»",
 [:dulavan]              "?",
 "Dulavan2"              "+",
 [:ddadda]                   "v",
 [:tada]                   "Y",
 [:dada]                   "d",
 [:dhada]                    "X",
 [:0]                    "0",
 [:1]                    "1",
 [:2]                    "2",
 [:3]                    "3",
 [:4]                    "4",
 [:5]                    "5",
 [:6]                    "6",
 [:7]                    "7",
 [:8]                    "8",
 [:9]                    "9",
 [:idi]                    "J",
 [:fafa :pairi-bindi]          "¯",
 [:fafa]                    "c",
 [:sifar]                    " ",
 [:ik]                    "¡",
 "G11"                   "I",
 [:do]                    "¢",
 [:ten]                    "£",
 [:char]                    "¤",
 [:she]                    "¦",
 [:sat]                    "§",
 [:nau]                    "©",
 [:gaga :pairi-bindi]          "ˆ",
 [:gaga]                    "r",
 [:ghagha]                    "x",
 "Hai"                   "W",
 "Hai2"                  "˛",
 [:half-yaiya-right]         "›",
 [:hora]                  "Ø",
 "Hora2"                 "'",
 [:haha]                    "j",
 [:ik :onkar]       "˝",
 [:jaja :pairi-bindi]          "˜",
 [:jaja]                    "i",
 [:jhajha]                    "M",
 [:khakha :pairi-bindi]          "ı",
 "KakaPairiRara"         "¥",
 [:kana]                  "k",
 "Kana2"                 "≈",
 [:kana :bindi]             "K",
 "KanaBindi2"            "ª",
 [:kanaura]               "\"",
 "Kanaura2"              "Ω",
 "KanauraRight"          "œ",
 [:kaka]                    "e",
 [:khakha]                    "y",
 [:lala :pairi-bindi]          "ˇ",
 "LalaAunkar"            "´",
 "LalaDulainkar"         "¨",
 [:lava]                 "/",
 "Lavan2"                "∂",
 [:lala]                    "b",
 [:mama]                    "w",
 "Nu"                    "˘",
 [:chija]                    "C",
 [:naiya]                    "R",
 [:naanaa]                    "D",
 [:nana]                    "B",
 [:uda-o]                    "U",
 "Oਓ2"                   "˙",
 "PairiHaha"             "Q",
 "PairiHaha2"            "∑",
 "PairiRara"             "Ã",
 "PairiRaraLeft"         "q",
 "PairiVava"             "`",
 "PairiVava2"            "…",
 [:papa]                    "g",
 [:rara]                    "o",
 [:rrarra]                    "V",
 [:sasa :pairi-bindi]          "µ",
 [:semi-colon]             "l",
 [:sihari]                "f",
 "Sihari2"               "«",
 [:single-quote-curly-left]  "“",
 [:single-quote-curly-right] "”",
 [:sasa]                    ";",
 [:tippi]                 "z",
 "Tippi2"                "ø",
 "TippiRight"            "≥",
 "TopRightExtention"     "Œ",
 [:tenka]                    "N",
 [:tthattha]                    "m",
 [:tata]                    "s",
 [:thatha]                    "E",
 "TਥAunkar"              "˚",
 "UਉBindi"               "™",
 [:uda]                    "T",
 [:vava]                    "t",
 [:yaiya]                    ":"}
