{
 [:adak-right]           "¼",
 [:adak-right-2]         "µ",
 [:aunkar]               "¹",
 [:aunkar-2]             "°",
 [:aida]                 "Á",
 [:bihari]               "Æ",
 "BihariBindi"           "Ä",
 [:bindi]                "º",
 [:baba]                 "ì",
 [:bhaba]                "í",
 [:colon]                  ":",
 [:chacha]               "Ú",
 [:shasha]               "Û",
 [:danda]                "¢",
 [:danda-b]              "Í",
 [:dash]                 "-",
 [:dot]                  ".",
 [:double-danda]         "£",
 [:double-danda-b]           "¨",
 [:dulaikar]            "±",
 [:dulaikar-b]             "È",
 [:dulavan]              "Ë",
 [:ddadda]                   "â",
 [:tada]                   "ã",
 [:dada]                   "ç",
 [:dhada]                    "è",
 [:0]                    "@",
 [:1]                    "A",
 [:2]                    "B",
 [:3]                    "C",
 [:4]                    "D",
 [:5]                    "E",
 [:6]                    "F",
 [:7]                    "G",
 [:8]                    "H",
 [:9]                    "I",
 [:idi]                    "Â",
 [:fafa :pairi-bindi]          "ø",
 [:fafa]                    "ë",
 [:sifar]                    "0",
 [:ik]                    "1",
 [:do]                    "2",
 [:ten]                    "3",
 [:char]                    "4",
 [:panj]                    "5",
 [:she]                    "6",
 [:sat]                    "7",
 [:ath]                    "8",
 [:nau]                    "9",
 [:gaga :pairi-bindi]          "ö",
 [:gaga]                    "×",
 [:ghagha]                    "Ø",
 [:hora]                  "¯",
 [:haha]                    "Ô",
 [:ik :onkar]       "ý",
 [:jaja :pairi-bindi]          "÷",
 [:jaja]                    "Ü",
 [:jhajha]                    "Þ",
 [:khakha :pairi-bindi]          "õ",
 "KakaPairiRara"         "´",
 [:kana]                  "Å",
 [:kana :bindi]             "»",
 [:kanaura]               "Ï",
 "Kanaura2"              "½",
 [:kaka]                    "Õ",
 [:khakha]                    "Ö",
 [:lala :pairi-bindi]          "ÿ",
 "LalaAunkar"            "«",
 "LalaDulainkar"         "¬",
 "LalaTippi"             "¦",
 [:lava]                 "¶",
 [:lala]                    "ñ",
 [:mama]                    "î",
 "Nu"                    "ù",
 [:chija]                    "Ù",
 [:naiya]                    "ß",
 [:naanaa]                    "ä",
 [:nana]                    "é",
 [:uda-o]                    "ú",
 "PairiChacha"           "{",
 "PairiHaha"             "·",
 "PairiNana"             "¥",
 "PairiRara"             "Ì",
 "PairiRaraLeft"         "z",
 "PairiTata"             "}",
 "PairiTenka"            "|",
 "PairiVava"             "É",
 [:papa]                    "ê",
 [:rara]                    "ð",
 [:rrarra]                    "ó",
 [:sasa :pairi-bindi]          "ô",
 [:semi-colon]             ";",
 [:sihari]                "Ç",
 [:single-quote-curly-left]  "Ò",
 [:single-quote-curly-right] "Ó",
 [:sasa]                    "Ã",
 [:tippi]                 "¿",
 "TippiLeft"             "§",
 "TippiRight"            "³",
 "TopRightExtention"     "Î",
 [:tenka]                    "à",
 [:tthattha]                    "á",
 [:tata]                    "å",
 [:thatha]                    "æ",
 "UਉBindi"               "ª",
 [:uda]                    "À",
 [:vava]                    "ò",
 [:yaiya]                    "ï"}
