{[:adak-right]               "ੱ",
 [:aunkar]                   "ੁ",
 [:aida]                     "ਅ",
 [:aida :kana]               "ਆ",
 [:aida :dulava]             "ਐ",
 [:bihari]                   "ੀ",
 [:bindi]                    "ਂ",
 [:baba]                     "ਬ",
 [:bhaba]                    "ਭ",
 [:colon]                      ":",
 [:chacha]                   "ਚ",
 [:shasha]                   "ਛ",
 [:danda]                    "।",
 [:danda-b]                  "|",
 [:dash]                     "-",
 [:divide]                   "÷",
 [:dot]                      ".",
 [:double-danda]             "॥",
 [:double-quote-curly-left]  "“",
 [:double-quote-curly-right] "”",
 [:dulaikar]                 "ੂ",
 [:dulavan]                  "ੈ",
 [:ddadda]                   "ਡ",
 [:tada]                     "ਢ",
 [:dada]                     "ਦ",
 [:dhada]                    "ਧ",
 [:0]                        "0",
 [:1]                        "1",
 [:2]                        "2",
 [:3]                        "3",
 [:4]                        "4",
 [:5]                        "5",
 [:6]                        "6",
 [:7]                        "7",
 [:8]                        "8",
 [:9]                        "9",
 [:sihari :idi]              "ਇ",
 [:idi :bihari]              "ਈ",
 [:idi :lava]                "ਏ",
 [:idi]                      "ੲ",
 [:fafa :pairi-bindi]        "ਫ਼",
 [:fafa]                     "ਫ",
 [:sifar]                    "੦",
 [:ik]                       "੧",
 [:do]                       "੨",
 [:ten]                      "੩",
 [:char]                     "੪",
 [:panj]                     "੫",
 [:she]                      "੬",
 [:sat]                      "੭",
 [:ath]                      "੮",
 [:nau]                      "੯",
 [:gaga :pairi-bindi]        "ਗ਼",
 [:gaga]                     "ਗ",
 [:ghagha]                   "ਘ",
 [:hora]                     "ੋ",
 [:haha]                     "ਹ",
 [:ik :onkar]                "ੴ",
 [:jaja :pairi-bindi]        "ਜ਼",
 [:jaja]                     "ਜ",
 [:jhajha]                   "ਝ",
 [:khakha :pairi-bindi]      "ਖ਼",
 [:k-thind]                  "ÿ",
 [:kana]                     "ਾ",
 [:kanaura]                  "ੌ",
 [:kaka]                     "ਕ",
 [:khakha]                   "ਖ",
 [:lala :pairi-bindi]        "ਲ਼",
 [:lava]                     "ੇ",
 [:lala]                     "ਲ",
 [:multiply]                 "×",
 [:mama]                     "ਮ",
 [:chija]                    "ਙ",
 [:naiya]                    "ਞ",
 [:naanaa]                   "ਣ",
 [:nana]                     "ਨ",
 [:uda-o]                    "ਓ",
 [:aida :dulaikar]           "ਔ",
 [:pairi-bindi]              "਼",
 [:papa]                     "ਪ",
 [:rara]                     "ਰ",
 [:rrarra]                   "ੜ",
 [:sasa :pairi-bindi]        "ਸ਼",
 [:semi-colon]               ";",
 [:sihari]                   "ਿ",
 [:single-quote-curly-left]  "‘",
 [:single-quote-curly-right] "’",
 [:sasa]                     "ਸ",
 [:tippi]                    "ੰ",
 [:tenka]                    "ਟ",
 [:tthattha]                 "ਠ",
 [:tata]                     "ਤ",
 [:thatha]                   "ਥ",
 [:udaat]                    "ੑ",
 [:uda :aunkar]              "ਉ",
 [:uda :dulaikar]            "ਊ",
 [:uda]                      "ੳ",
 [:virama]                   "੍",
 [:visagra]                  "ਃ",
 [:vava]                     "ਵ",
 [:yakash]                   "ੵ",
 [:yaiya]                    "ਯ"}
